

/* Sign Up style section here







/* Sign In style section here */
/* 
a.MuiTypography-root.MuiTypography-body2.MuiLink-root.MuiLink-underlineAlways.css-101ca9i-MuiTypography-root-MuiLink-root {
    color:white !important;
}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    color: white !important;
}
span.MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.PrivateSwitchBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiCheckbox-root.MuiCheckbox-colorPrimary.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: white;
}
.css-ag7rrr-MuiTypography-root {color: white;}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {color: white !important;}
.css-ijul54-MuiTypography-root {color: white !important;}
.css-ijul54-MuiTypography-root {color: white !important;}
.css-5k114j-MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    text-align: center;
   
    color: white !important;
    margin-top: 40px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: white !important;
} */